.venv
venv
.idea
speech_denoising_wavenet/sessions/*
speech_denoising_wavenet/data/*
speech_denoising_wavenet/sessions/*
speech_denoising_wavenet/experiments/*
speech_denoising_wavenet/data/*
*/__pycache__
*.pyc